*{margin: 0;
padding: 0;
}

body{
    /* background-image: url(C:\Users\admin\Desktop\Uttarakhand-cover.jpg); */
    background-position: center;
    background-size: 100% 170%;
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-attachment: fixed;
    
    

}
.center1{
    background-color: blue(250,250,0.28,250);
    position: absolute;
    display: flex; 
    align-content: center;
    padding: 30px;
    color: rgb(3, 54, 35);
    font-style: italic;
    font-size: 49px;
    justify-content: space-between;
}
.logo{
    /* position: relative; */
    margin-top: 20em;
    margin-left: 56em;
    align-tracks: left;
    border: 2px solid rgb(66, 9, 9);
    border-radius: 40px;
    display: flex;
    align-items: center;
}
.topper1{
    margin: 0%;
    padding: 10px 20px ;
    align-items: center;
    text-align: right;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(236, 226, 245);
    color: rgb(253, 248, 241);
    text-decoration: none;
}
